<div class="content">
    <div class="time">
        <div class="text">
            <p class="header"><b>Hora de llegada</b></p>
            <p>La ceremonia empezará a las 12:00 am de forma puntual, por tanto, 
            recomendamos encarecidamente estar sobre las 11:30 am.</p>
        </div>
        <img src="assets/images/nen1.svg">
    </div>

    <div class="dresscode">
        <div class="upper">
            <p class="header"><b>Código de <br/>vestimenta</b></p>
            <p> A excepción de los colores reservados a la novia
            podéis llevar lo que queráis ¡cuanto más alegre mejor!
             </p>
        </div>
        <div class="bottom">
            <p> La decoración va a estar ambientada en un mundo fantasía.
                Aquellos que lleven los detalles más originales durante el convite tendrán una sorpresa.</p>
        </div>
        <img style="min-width: 300px;" src="assets/images/nengrande.svg">
    </div>

    <div class ="giftlist">
        <div class="nen3">
            <p class="header" style="font-family: Comic Neue;"><b>Lista de bodas</b></p>
            <p>Lo que más ilusión nos hace es que nos acompañéis en este día tan especial,
                si queréis ayudarnos a comenzar nuestra nueva vida juntos os dejamos aquí nuestros datos.
                <br/>
                <button mat-mini-fab (click)="openDialog()">
                    <mat-icon>info_outline</mat-icon>
                </button>
            </p>
            
            
        </div>
        <img src="assets/images/nen3.svg">
    </div>
    
    
</div>
