<div class="content">
    
    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>Días</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>{{day}}</mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>Horas</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>{{hours}}</mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>Minutos</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>{{minutes}}</mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-subtitle class="card-subtitle">Segundos</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>{{seconds}}</mat-card-content>
    </mat-card>
         
</div>