
    <div class="header" [style.display]="isLoaded()">
      <img style="height: 100%;" [style.display]="isLoaded()" src="assets/images/dianaymiguelblanco.svg" alt="image"/>
      <h2 class="title" [style.display]="isLoaded()">27 de Abril de 2024</h2>
      <app-countdown style="width: 100%;" [style.display]="isLoaded()"></app-countdown> 
    </div>
    <mat-spinner style="margin: 5% auto;" [style.display]="isNotLoaded()"></mat-spinner>
    <div >
      <img style="width: 100%; transform: translateY(-50%); max-height: 100px;" [style.display]="loaded" src="assets/images/flowerthree.svg" alt="image"/>
      <app-general-info [style.display]="isLoaded()"></app-general-info>
      <app-questions [style.display]="isLoaded()"></app-questions>
      <app-google-form [style.display]="isLoaded()"></app-google-form>
    </div>
  

  
  <router-outlet></router-outlet>




