
  <div class="header">
    <img style="height: 100%;" src="/assets/images/dianaymiguelblanco.svg" alt="image"/>
    <h2 class="title">27 de Abril de 2024</h2>
    <app-countdown style="width: 100%;"></app-countdown> 
    
  </div>
  <div>
    <img style="width: 100%; transform: translateY(-50%); max-height: 100px;" src="/assets/images/flowerthree.svg" alt="image"/>
    <app-general-info></app-general-info>
    <app-questions></app-questions>
    <app-google-form></app-google-form>
  </div>

  
  <router-outlet></router-outlet>




