<div class="content">

      <mat-card class="photo" style="text-align:center; justify-content: center;">
        <mat-card-header>
          <div mat-card-avatar>
              <mat-icon color="accent">favorite</mat-icon>
          </div>
          <mat-card-title style="font-family: 'Comic Neue';"><b>Diana y Miguel</b></mat-card-title>
          <mat-card-subtitle style="font-family: 'Comic Neue';"><b>Próximamente casados</b></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/novios3.svg" alt="image" style="width:97%;">
        <mat-card-content>
          <p>Estamos muy felices de anunciaros que el próximo 27 de Abril nos vamos a casar y 
            nos haría muchísima ilusión celebrarlo con vosotros. </p>
            <p>La ceremonia religiosa se celebrará en la parroquia de 
            <a target="_blank" href="https://www.google.es/maps/place/Parroquia+de+Santa+Mar%C3%ADa+del+Pinar/@40.4787889,-3.6697411,17z/data=!3m1!4b1!4m6!3m5!1s0xd42294bde00bd3b:0xb9d2720d5cce8878!8m2!3d40.4787889!4d-3.6671662!16s%2Fg%2F11b8z90rc5?entry=ttu">
              Santa María del Pinar</a>, 
            mientras que el convite será en los 
            <a target="_blank" href="https://www.google.es/maps/place/Grupo+Salones+y+Catering+Mily/@40.5379564,-3.6390754,17z/data=!3m1!4b1!4m6!3m5!1s0xd422cf60e8ae57b:0xd7244114806c6053!8m2!3d40.5379564!4d-3.6365005!16s%2Fg%2F1td7vhh3?entry=ttu">
              Salones Mily</a>
            </p>
        </mat-card-content>
      </mat-card>
</div>

