/* You can add global styles to this file, and also import other style files */

body { height: 100%; 
    margin: 0; 
    font-family: 'Comic Neue'; 
    background-color:#79e1dd;
    background-image: url("src/assets/images/fondo21.svg");
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    
}
