.content{
  margin: 5%;
  font-family: 'Comic Neue';  
}

.table {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width:100%; 
  max-width: 600px;
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .text {
    font-size:medium;
  }
}

  